<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nullam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Nullam.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="./images/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Avaleht</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Participants/Index">Osalejad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">Üritused</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="align-right">
                    <img src="./images/symbol.svg" />
                </div>
                                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-dark">
		<footer>
            <div class="container">
                <div class="row">
                    <div class=" col-sm-6 col-md-3 item">
                        <h3>Curabitur</h3>
                            <ul>
                                <li><a href="#">Orci varius</a></li>
                                <li><a href="#">Donec et</a></li>
                                <li><a href="#">Quisque sed</a></li>
                                <li><a href="#">In hac</a></li> 
                            </ul>
                     </div>
                    
                    <div class=" col-sm-6 col-md-3 item">
                         <h3>Fusce</h3>
                         <ul>
                            <li><a href="#">Donec pharetra</a></li>
                            <li><a href="#">Ut convallis</a></li>
                            <li><a href="#">Aenean commodo</a></li>
                            <li><a href="#">Curabitur et</a></li>                           
                        </ul>
                    </div>
                
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Kontakt</h3>
                        <div>
                            <p><strong>Peakontor: Tallinnas</strong></p>
                            <p>Väike-Ameerika 1, 11415</p>
                            <p>Telefon: 605 4450</p>
                            <p>Faks: 605 3186</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 item">
                        <br />
                        
                        <p><strong>Peakontor: Võrus</strong></p>
                        <p>Oja tn 7 (külastusaadress)</p>
                        <p>Telefon: 605 3330</p>
                        <p>Faks: 6053155</p>
                        
                    </div>
                    <p class="copyright">Nullam © 2022</p>
                </div>
            </div>     
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>