@page
@model Nullam.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="bg-light">
<div class="text-center">
    <div class="grid-container">
			<div class="grid-item grid-item-1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut arcu eget leo rhoncus commodo dignissim ac neque. Sed leo dui, malesuada non consequat ac, accumsan et leo. Suspendisse tempus, urna a luctus rhoncus, risus risus dictum odio, eleifend dignissim.
				</div>
        
        <div class="grid-item-2">
            <img src="./images/pilt.jpg" />
        </div>
        
        

			<div class="grid-item-3">
				<div class="event_table">Tulevased Üritused</div>
            <table class="table">
		        <tbody>
						@foreach (var item in Model.listEvents )
						{
						<tr>
							<td>@item.id</td>
							<td>@item.name</td>
							<td>@item.eventDate</td>
							<td>
								<a class="btn btn_participants" href="/Participants/Index">Osavõtjad</a>
							</td>
								<td>
									<a class="btn_remove" href="/Events/Delete?id=@item.id">
										<img src="./images/remove.svg"/>
									</a>
								</td>
						</tr>
						}
						
					
					
			</table>
				<div class="btn_addEvent">
					<a class='btn btn_participants' href='/Events/Create'>LISA ÜRITUS</a>
				</div>
				
        </div>
       
        <div class="grid-item-4">
				<div class="event_table">Toimunud Üritused</div>
            <table class="table">
		        <tbody>
			        <tr>
				        <td>1</td>
				        <td>In ornare quam</td>
				        <td>17.05.2022</td>
				        <td>
					        <a class="btn" href="/Clients/Index">Osavõtjad</a>
				        </td>
			        </tr>
					
				</tbody>
			</table>
            </div>
    </div>
</div>
</div>
