@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="bg-light">
<div class="text-center">
    <div class="grid-container">
			<div class="grid-item grid-item-1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut arcu eget leo rhoncus commodo dignissim ac neque. Sed leo dui, malesuada non consequat ac, accumsan et leo. Suspendisse tempus, urna a luctus rhoncus, risus risus dictum odio, eleifend dignissim.
				</div>
        
        <div class="grid-item-2">
            <img src="./images/pilt.jpg" />
        </div>
        
        

			<div class="grid-item-3">
				<div class="event_table">Tulevased Üritused</div>
            <table class="table">
		        <tbody>
			        <tr>
				        <td>1</td>
				        <td>In ornare quam</td>
				        <td>29.12.2022</td>
				        <td>
					        <a class="btn " href="/Clients/Index">
								        Osavõtjad</a>
				        </td>
							<td>
								<a class="btn " href="/Clients/Delete?id=id">
									<img src="./images/remove.svg" />
								</a>
							</td>
			        </tr>

					<tr>
				        <td>2</td>
				        <td>In ornare quam</td>
				        <td>30.12.2022</td>
				        <td>
					        <a class="btn " href="/Clients/Delete?id=id">
								        Osavõtjad</a>
				        </td>
							<td>
								<a class="btn " href="/Clients/Delete?id=id">
									<img src="./images/remove.svg" />
								</a>
							</td>
			        </tr>
			</table>
        </div>
       
        <div class="grid-item-4">
				<div class="event_table">Toimunud Üritused</div>
            <table class="table">
		        <tbody>
			        <tr>
				        <td>1</td>
				        <td>In ornare quam</td>
				        <td>17.05.2022</td>
				        <td>
					        <a class="btn " href="/Clients/Delete?id=id">
								        Osavõtjad
							        </a>
				        </td>
			        </tr>
		
				</tbody>
			</table>
            </div>
    </div>
</div>
</div>
